body{
	font-size: 18px;
	font-family: 'Antonio', sans-serif;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	color: #000000;
}

/*--layout--*/
	body{
		display: grid;
		grid-template-areas: 
			"fejlec"
			"foresz"
		;
		grid-template-rows: max-content 1fr max-content;
		min-height: 100vh;
	}
	header{
		background-color: #004212;
		grid-area: fejlec;
	}
	main{
		background-color: #eeeeee;
		grid-area: foresz;
	}
/*--layout_end--*/

/*--fejlec--*/
	header{
		line-height: 2.5rem;
		padding: 1rem;
	}

	.fejlec_bal{
		display: inline-block;
		float: left;
		font-size: 2.25rem;
	}

	.fejlec_jobb{
		display: inline-block;
		float: right;
		font-size: 2.25rem;
	}

	.gomb{
		border:3px solid #eeeeee;
		background-color: #eeeeee;
		border-radius: .8rem;
		padding: 0.8rem;
		font-size: 1.4rem;
		margin: .3rem;
		color: #004212;
	}

	.gomb:hover {
		background-color: #004212;
		color: #eeeeee;
	}

/*--fejlec_end--*/

/*--foresz--*/
	body{
		text-align: left;
		background-color: #eeeeee;
	}

	.kartya{
		display: inline-block;
		background-color: #004212;
		border: 1px solid #eeeeee; 
		border-radius: 1.5rem;
		padding: 1rem;
		margin: 1rem;
		margin-top: 2rem;
		cursor: default;
	}

	.cimszoveg{
		font-size: 2.8rem;
		color: #eeeeee;
		margin:1rem;
	}

	.bekezdes{
		margin-bottom: .7rem;
		line-height: 145%;
		font-size: 1.7rem;
		color: #eeeeee;
		margin: 1rem;
	}

	.float_balra{
		float: left;
		height: 17rem;
		margin-right: 1.5rem;
		border-radius: 1rem;
		margin-top: .5rem;
		margin-left: 1rem;
	}

	.nevjegykartya{
		max-width: 50rem;
		background-color: #004212;
		border: 1px solid #eeeeee; 
		border-radius: 1.5rem;
		padding: 1rem;
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
		cursor: default;
	}

	.nevjegykartya img{
		height: 32px;
	}

	.nevjegykartya img:hover{
		border:1.4px solid #eeeeee;
		border-radius: .3rem;
	}

	.rajzkeret{
		margin: 1rem;
	}

	.rajzkeret img{
		height: 100%;
		border: 0px solid #004212;
		border-radius: 1rem;
	}

	.rajzkeret img:hover{
		border: 0px;
		border-radius: 1rem;
	}

	.cimszoveg2{
		text-align: center;
		font-size: 2.8rem;
		color: #eeeeee;
		margin: 1rem;
		margin-top: 2rem;
		padding: .5rem;
		background-color: #004212;
		border:1px;
		border-radius: 1rem; 
		cursor: default;
	}


	/*--racs--*/

		.kepek_grid_racs{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
			grid-gap: 1rem;
			margin-left: 1rem;
			margin-right: 1rem;
			margin-top: 1rem;
			background-color: #eeeeee
			border-radius: 1rem;
			padding: 1rem;
		}

		.kep_kartya{
			border-radius: 2rem;
			background-color: #004212;
			margin-bottom: 1rem;
			cursor: default;
		}

		.kep_kartya p{
			text-align: center;
			font-size: 1.7rem;
			padding-top: 1rem;
			color: #eeeeee;
			margin-bottom: .5rem;
			cursor: default;
		}

		.kep_kartya .kep{
			background-color: #004212;
			text-align: center;
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 1rem;
			cursor: default;
		}
		.kep_kartya .kep img{
			height: 100%;
			width: 100%;
			object-fit: contain;
			border:1px solid #004212;
			border-radius: 1em;
		}
		.kep_kartya:hover{
			-webkit-box-shadow:0 2px 12px 0 #004212;
			-moz-box-shadow:0 2px 12px 0 #004212;
			box-shadow:0 2px 12px 0 #004212;
		}
	/*--racs_end--*/

	.hivatkozas{
		color: blue;
	}

	.hivatkozas:hover{
		border-bottom: 2px solid blue;
	}

	#dokumentacio{
		color: #eeeeee;
		margin: 1rem;
		font-size: 1.7rem;
		padding: .5rem;
	}

	#dokumentacio li{
		margin-left: 2.5rem;
	}

	#dokumentacio p{
		margin-bottom: 1rem; 
		margin-top: .2rem;
		margin-left: 1rem;
		line-height: 145%;
	}

	#dokumentacio h1{
		font-size: 2.8rem;
	}


	#dokumentacio img{
		display: inline-block;
		width: 250px;
		margin: .5rem;
		margin-left: 1rem;
	}

	#egykep{
		display: block;
		margin-left: : auto;
		margin-right: auto;
		border:2px solid #eeeeee;
		border-radius: .5rem;
		width: 60% !important;
	}

/*--foresz_end--*/